* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  /* 0 = centena, 1 = dezena, 2 = unidade */
  --seg0-0-color: #dddddd;
  --seg1-0-color: #dddddd;
  --seg2-0-color: #dddddd;
  --seg3-0-color: #dddddd;
  --seg4-0-color: #dddddd;
  --seg5-0-color: #dddddd;
  --seg6-0-color: #dddddd;
  --seg0-1-color: #dddddd;
  --seg1-1-color: #dddddd;
  --seg2-1-color: #dddddd;
  --seg3-1-color: #dddddd;
  --seg4-1-color: #dddddd;
  --seg5-1-color: #dddddd;
  --seg6-1-color: #dddddd;
  --seg0-2-color: #dddddd;
  --seg1-2-color: #dddddd;
  --seg2-2-color: #dddddd;
  --seg3-2-color: #dddddd;
  --seg4-2-color: #dddddd;
  --seg5-2-color: #dddddd;
  --seg6-2-color: #dddddd;
  --display-margin-small-screen: 4.5px;
  --display-margin-big-screen: 6px;
  --bigger-radius-small-screen: 8px;
  --smaller-radius--small-screen: 5px;
  --seg-vertical-expessura: 15.84px;
  --border-segG: 7.94px;
  --seg-horizontal-expessura: 14.83px;
  --coeficiente-conversao: 1.38;
  --seg-comprimento-horizontal: 70.6px;
  --seg-comprimento-vertical: 63.41px;
  --seg-distancia-extremidade: 2px;
  --seg-inclinacao-bordas-externas: 15.84px;
  --seg-angulo-vertice: 5px;
  --seg-angulo-centro: 10px;
  --seg-inclinacao-bordas-internas: 10.5px;
  --seg-alinhamento-extremidade: 0px;
  --display7seg-margin: 6px;
  --form-border-color: #ff6600;
  --form-background-color: #ffffff;
  --form-button-color: linear-gradient(180deg, #ef6c00 0%, #c0661c 100%);
}

body {
  background: #e5e5e5;
}

.container-externo {
  background: linear-gradient(180deg, #eeeeee 0%, #ffffff 100%);
  height: 588px;
  margin: auto;
  max-width: 1000px;
  min-width: 365px;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 59px;
}

.titulo {
  width: 423px;
  height: 82px;
  font-family: 'Montserrat';
  text-align: center;
  font-style: normal;
  font-weight: 700px;
  font-size: 36px;
  line-height: 43.88px;
  letter-spacing: -1px;
  background: linear-gradient(174.92deg, #ef6c00 18.47%, #db6300 36.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

.retangulo {
  margin: -25px;
  width: 255px;
  height: 1px;
  background: #cfcfcf;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.mensagem {
  width: 248px;
  height: 35px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -1px;
  color: #ff6600;
  margin-top: 71px;
}

.correct {
  color: rgba(50, 191, 0, 1);
}

.container-display {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  width: 247.02px;
  height: 135px;
}

.display2 .display-dezena {
  margin-left: var(--display7seg-margin);
}

.display2 .display-centena {
  margin-right: var(--display7seg-margin);
}

.display3 .display-unidade {
  margin-left: var(--display7seg-margin);
}

.display3 .display-dezena {
  margin-left: var(--display7seg-margin);
  margin-right: var(--display7seg-margin);
}

.display3 .display-centena {
  margin-right: var(--display7seg-margin);
}

.display-7seg {
  position: relative;
  width: 74.46px;
  height: 135px;
}

/* .display-centena {
  margin-right: var(--display-margin-small-screen);
  margin-right: var(--display-margin-small-screen);
}

.display-dezena {
  margin-left: var(--display-margin-small-screen);
  margin-right: var(--display-margin-small-screen);
}

.display-unidade {
  margin-left: var(--display-margin-small-screen);
} */

.segA {
  position: absolute;
  top: var(--seg-alinhamento-extremidade);
  left: var(--seg-distancia-extremidade);
  width: var(--seg-comprimento-horizontal);
  height: 0px;
  border-right: var(--seg-inclinacao-bordas-externas) solid transparent;
  border-left: var(--seg-inclinacao-bordas-externas) solid transparent;
  border-top-left-radius: var(--seg-angulo-vertice);
  border-top-right-radius: var(--seg-angulo-vertice);
}

.segD {
  position: absolute;
  top: 120.2px;
  left: var(--seg-distancia-extremidade);
  width: var(--seg-comprimento-horizontal);
  height: 0px;
  border-right: var(--seg-inclinacao-bordas-externas) solid transparent;
  border-left: var(--seg-inclinacao-bordas-externas) solid transparent;
  border-bottom-left-radius: var(--seg-angulo-vertice);
  border-bottom-right-radius: var(--seg-angulo-vertice);
}

.segG-1 {
  position: absolute;
  top: 59.56px;
  left: 0px;
  width: 61.97px;
  height: 0px;
  border-right: var(--seg-inclinacao-bordas-internas) solid transparent;
  border-left: var(--seg-inclinacao-bordas-internas) solid transparent;
  left: 6.25px;
}

.segG-2 {
  position: absolute;
  top: 67.5px;
  width: 61.97px;
  height: 0px;
  border-right: var(--seg-inclinacao-bordas-internas) solid transparent;
  border-left: var(--seg-inclinacao-bordas-internas) solid transparent;
  left: 6.25px;
}

.segB {
  position: absolute;
  top: var(--seg-distancia-extremidade);
  right: var(--seg-alinhamento-extremidade);
  width: 0px;
  height: var(--seg-comprimento-vertical);
  border-top: var(--seg-inclinacao-bordas-externas) solid transparent;
  border-bottom: var(--seg-inclinacao-bordas-internas) solid transparent;
  border-top-right-radius: var(--seg-angulo-vertice);
  border-bottom-right-radius: var(--seg-angulo-centro);
}

.segF {
  position: absolute;
  top: var(--seg-distancia-extremidade);
  left: var(--seg-alinhamento-extremidade);
  width: 0px;
  height: var(--seg-comprimento-vertical);
  border-top: var(--seg-inclinacao-bordas-externas) solid transparent;
  border-bottom: var(--seg-inclinacao-bordas-internas) solid transparent;
  border-top-left-radius: var(--seg-angulo-vertice);
  border-bottom-left-radius: var(--seg-angulo-centro);
}

.segC {
  position: absolute;
  bottom: var(--seg-distancia-extremidade);
  right: var(--seg-alinhamento-extremidade);
  width: 0px;
  height: var(--seg-comprimento-vertical);
  border-top: var(--seg-inclinacao-bordas-internas) solid transparent;
  border-bottom: var(--seg-inclinacao-bordas-externas) solid transparent;
  border-top-right-radius: var(--seg-angulo-centro);
  border-bottom-right-radius: var(--seg-angulo-vertice);
}

.segE {
  position: absolute;
  bottom: var(--seg-distancia-extremidade);
  left: var(--seg-alinhamento-extremidade);
  width: 0px;
  height: var(--seg-comprimento-vertical);
  border-top: var(--seg-inclinacao-bordas-internas) solid transparent;
  border-bottom: var(--seg-inclinacao-bordas-externas) solid transparent;
  border-top-left-radius: var(--seg-angulo-centro);
  border-bottom-left-radius: var(--seg-angulo-vertice);
}
/* 
.lineH {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 200px;
  height: 1px;
  background-color: yellow;
}

.lineV {
  position: absolute;
  top: -50px;
  left: 74.45px;
  width: 1px;
  height: 200px;
  background-color: greenyellow;
}
*/
.nova-partida_button {
  display: flex;
  align-items: center;
  margin-top: 31px;
  width: 130px;
  height: 42px;
  background: linear-gradient(180deg, #434854 0%, #9e9e9e 100%);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700px;
  letter-spacing: 0px;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 1);
  border-style: none;
}

.hidden {
  visibility: hidden;
}

.nova-partida_button img {
  height: 24px;
  width: 24px;
  margin-left: 6px;
}

.formBox {
  margin-top: 78px;
  display: flex;
  justify-content: space-between;
  width: 298px;
  height: 42px;
}

.formBox input {
  box-sizing: border-box;
  width: 217px;
  height: 42px;
  background: var(--form-background-color);
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
}

.formBox input::placeholder {
  width: 80px;
  height: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #9e9e9e;
}

.formBox input[type='text'] {
  width: 14px;
  height: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400px;
  font-size: 12px;
  line-height: 14px;
  color: #222222;
  box-sizing: border-box;
  width: 217px;
  height: 42px;
  padding-left: 12px;
}

.formBox button {
  width: 70px;
  height: 42px;
  background: var(--form-button-color);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  border-style: none;
}

.display-unidade .segA {
  border-top: var(--seg-horizontal-expessura) solid var(--seg0-2-color);
}

.display-unidade .segB {
  border-right: var(--seg-vertical-expessura) solid var(--seg1-2-color);
}

.display-unidade .segC {
  border-right: var(--seg-vertical-expessura) solid var(--seg2-2-color);
}

.display-unidade .segD {
  border-bottom: var(--seg-horizontal-expessura) solid var(--seg3-2-color);
}

.display-unidade .segE {
  border-left: var(--seg-vertical-expessura) solid var(--seg4-2-color);
}

.display-unidade .segF {
  border-left: var(--seg-vertical-expessura) solid var(--seg5-2-color);
}

.display-unidade .segG-1 {
  border-bottom: var(--border-segG) solid var(--seg6-2-color);
}

.display-unidade .segG-2 {
  border-top: var(--border-segG) solid var(--seg6-2-color);
}

.display-dezena .segA {
  border-top: var(--seg-horizontal-expessura) solid var(--seg0-1-color);
}

.display-dezena .segB {
  border-right: var(--seg-vertical-expessura) solid var(--seg1-1-color);
}

.display-dezena .segC {
  border-right: var(--seg-vertical-expessura) solid var(--seg2-1-color);
}

.display-dezena .segD {
  border-bottom: var(--seg-horizontal-expessura) solid var(--seg3-1-color);
}

.display-dezena .segE {
  border-left: var(--seg-vertical-expessura) solid var(--seg4-1-color);
}

.display-dezena .segF {
  border-left: var(--seg-vertical-expessura) solid var(--seg5-1-color);
}

.display-dezena .segG-1 {
  border-bottom: var(--border-segG) solid var(--seg6-1-color);
}

.display-dezena .segG-2 {
  border-top: var(--border-segG) solid var(--seg6-1-color);
}

.display-centena .segA {
  border-top: var(--seg-horizontal-expessura) solid var(--seg0-0-color);
}

.display-centena .segB {
  border-right: var(--seg-vertical-expessura) solid var(--seg1-0-color);
}

.display-centena .segC {
  border-right: var(--seg-vertical-expessura) solid var(--seg2-0-color);
}

.display-centena .segD {
  border-bottom: var(--seg-horizontal-expessura) solid var(--seg3-0-color);
}

.display-centena .segE {
  border-left: var(--seg-vertical-expessura) solid var(--seg4-0-color);
}

.display-centena .segF {
  border-left: var(--seg-vertical-expessura) solid var(--seg5-0-color);
}

.display-centena .segG-1 {
  border-bottom: var(--border-segG) solid var(--seg6-0-color);
}

.display-centena .segG-2 {
  border-top: var(--border-segG) solid var(--seg6-0-color);
}

@media screen and (max-width: 365px) {
  .container-externo {
    background: linear-gradient(180deg, #eeeeee 0%, #ffffff 100%);
    height: 588px;
    width: 365px;
    margin-top: 5%;
    padding-top: 62px;
    padding-bottom: 31px;
  }

  .titulo {
    width: 248px;
    height: 35px;
    font-size: 24px;
    line-height: 29.26px;
  }

  .retangulo {
    width: 255px;
    height: 1px;
    margin-top: 5px;
  }

  .mensagem {
    line-height: 20px;
    margin-top: 108px;
  }
  /*
  .container-display {
    max-height: 100%;
  }

  .display-7seg {
    max-width: 55.16px;
    max-height: 100px;
  } */

  .nova-partida {
    margin-top: 56px;
  }

  .formBox {
    margin-top: 73px;
  }
}
