* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --segA-unidade-color: #ff6600;
  --segB-unidade-color: #ff6600;
  --segC-unidade-color: #ff6600;
  --segD-unidade-color: #ff6600;
  --segE-unidade-color: #ff6600;
  --segF-unidade-color: #ff6600;
  --segG-unidade-color: #ff6600;
  --segA-dezena-color: #ff6600;
  --segB-dezena-color: #ff6600;
  --segC-dezena-color: #ff6600;
  --segD-dezena-color: #ff6600;
  --segE-dezena-color: #ff6600;
  --segF-dezena-color: #ff6600;
  --segG-dezena-color: #ff6600;
  --segA-centena-color: #ff6600;
  --segB-centena-color: #ff6600;
  --segC-centena-color: #ff6600;
  --segD-centena-color: #ff6600;
  --segE-centena-color: #ff6600;
  --segF-centena-color: #ff6600;
  --segG-centena-color: #ff6600;
}

body {
  height: 100vh;
}

.container {
  position: relative;
  width: 365px;
  height: 588px;
  background: linear-gradient(180deg, #eeeeee 0%, #ffffff 100%);
  border: 1px solid black; /* retirar */
}

.container p {
  top: 193px;
  left: 56px;
  position: absolute;
  width: 248px;
  height: 35px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -1px;

  color: #ff6600;
}

.titulo {
  top: 62px;
  left: 58px;
  position: absolute;
  width: 248px;
  height: 35px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -1px;
  background: linear-gradient(174.92deg, #ef6c00 18.47%, #db6300 36.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

.retangulo {
  top: 102px;
  left: 80px;
  position: absolute;
  width: 205px;
  height: 1px;
  background: #cfcfcf;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

#container-display {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 244px;
  left: 91px;
  width: 182.98px;
  height: 100px;
}

.display-centena {
  /* top: 244px;
  left: 155px; */
  position: relative;
  width: 55.16px;
  height: 100px;
  margin-right: 4.5px;
}

.display-dezena {
  /* top: 244px;
  left: 155px; */
  position: relative;
  width: 55.16px;
  height: 100px;
  margin-left: 4.5px;
  margin-right: 4.5px;
}

.display-unidade {
  position: relative;
  /* top: 244px;
  left: 155px; */
  width: 55.16px;
  height: 100px;
  margin-left: 4.5px;
}

.segA {
  position: absolute;
  top: 0px;
  left: 2.23px;
  width: 54.16px;
  height: 0px;
  width: 50.73px;
  height: 0px;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* .lineH {
  position: absolute;
  top: 55px;
  left: -50px;
  width: 200px;
  height: 1px;
  background-color: yellow;
}

.lineV {
  position: absolute;
  top: -50px;
  left: 51px;
  width: 1px;
  height: 200px;
  background-color: greenyellow;
} */

.segB {
  position: absolute;
  top: 1px;
  left: 43.42px;
  width: 0px;
  height: 49px;
  border-top: 11px solid transparent;
  border-bottom: 8px solid transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 8px;
}

.segG-1 {
  position: absolute;
  top: 44.1px;
  left: 5px;
  width: 45.9px;
  height: 0px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.segG-2 {
  position: absolute;
  top: 50px;
  left: 5px;
  width: 45.9px;
  height: 0px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.segD {
  position: absolute;
  top: 89.1px;
  left: 2.23px;
  width: 50.73px;
  height: 0px;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.segC {
  position: absolute;
  top: 50px;
  left: 43.42px;
  width: 0px;
  height: 49px;
  border-top: 8px solid transparent;
  border-bottom: 11.74px solid transparent;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 5px;
}

.segE {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 0px;
  height: 49px;
  border-top: 8px solid transparent;
  border-bottom: 11.74px solid transparent;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 5px;
}

.segF {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 0px;
  height: 49px;
  border-top: 11px solid transparent;
  border-bottom: 8px solid transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 8px;
}

.nova-partida {
  top: 400px;
  left: 118px;
  position: absolute;
  width: 130px;
  height: 42px;
  background: linear-gradient(180deg, #434854 0%, #9e9e9e 100%);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  border-style: none;
  display: flex;
  justify-content: space-between;
}

.formBox {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 515px;
  left: 33px;
  width: 298px;
  height: 42px;
}

.formBox input {
  box-sizing: border-box;
  width: 217px;
  height: 42px;
  background: #ffffff;
  border: 1px solid #ff6600;
  border-radius: 4px;
}

.formBox input::placeholder {
  top: 14px;
  left: 12px;
  position: absolute;
  width: 80px;
  height: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #9e9e9e;
}

.formBox input[type='number'] {
  width: 14px;
  height: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #222222;
  box-sizing: border-box;
  width: 217px;
  height: 42px;
  padding-left: 12px;
  background: #ffffff;
  border: 1px solid #ff6600;
  border-radius: 4px;
}

.formBox button {
  width: 70px;
  height: 42px;
  background: linear-gradient(180deg, #ef6c00 0%, #c0661c 100%);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  border-style: none;
}

.refresh-icon {
  width: 24px;
  height: 24px;
}

.display-unidade .segA {
  border-top: 10.99px solid var(--segA-unidade-color);
}

.display-unidade .segB {
  border-right: 11.74px solid var(--segB-unidade-color);
}

.display-unidade .segC {
  border-right: 11.74px solid var(--segC-unidade-color);
}

.display-unidade .segD {
  border-bottom: 10.99px solid var(--segD-unidade-color);
}

.display-unidade .segE {
  border-left: 11.74px solid var(--segE-unidade-color);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 5px;
}

.display-unidade .segF {
  border-left: 11.74px solid var(--segF-unidade-color);
}

.display-unidade .segG-1 {
  border-bottom: 5.9px solid var(--segG-unidade-color);
}

.display-unidade .segG-2 {
  border-top: 5.9px solid var(--segG-unidade-color);
}

.display-dezena .segA {
  border-top: 10.99px solid var(--segA-dezena-color);
}

.display-dezena .segB {
  border-right: 11.74px solid var(--segB-dezena-color);
}

.display-dezena .segC {
  border-right: 11.74px solid var(--segC-dezena-color);
}

.display-dezena .segD {
  border-bottom: 10.99px solid var(--segD-dezena-color);
}

.display-dezena .segE {
  border-left: 11.74px solid var(--segE-dezena-color);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 5px;
}

.display-dezena .segF {
  border-left: 11.74px solid var(--segF-dezena-color);
}

.display-dezena .segG-1 {
  border-bottom: 5.9px solid var(--segG-dezena-color);
}

.display-dezena .segG-2 {
  border-top: 5.9px solid var(--segG-dezena-color);
}

.display-centena .segA {
  border-top: 10.99px solid var(--segA-centena-color);
}

.display-centena .segB {
  border-right: 11.74px solid var(--segB-centena-color);
}

.display-centena .segC {
  border-right: 11.74px solid var(--segC-centena-color);
}

.display-centena .segD {
  border-bottom: 10.99px solid var(--segD-centena-color);
}

.display-centena .segE {
  border-left: 11.74px solid var(--segE-centena-color);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 5px;
}

.display-centena .segF {
  border-left: 11.74px solid var(--segF-centena-color);
}

.display-centena .segG-1 {
  border-bottom: 5.9px solid var(--segG-centena-color);
}

.display-centena .segG-2 {
  border-top: 5.9px solid var(--segG-centena-color);
}
